---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My Astro Site</title>
	</head>
	<body>
		<h1>GitSy(nc)</h1>
		<h2>easy way to synchronize your notes with git</h2>
		
		<p>Git is a software used by developers to sync the code between computers. Git can help to work with complex projects across many developers. But can it be helpful for non-developers to synchronize their obsidian notes - of course! There are many plugins for this and on this site you will find many useful instructions how to do this!</p>
		
		<p>Stay tined this site is under construction!</p>
		
	</body>
</html>
