---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "GitSy(nc)";
import Greeting from '../components/Greeting';
---
<BaseLayout pageTitle={pageTitle}>

    <h2>простой способ синхронизации заметок с помощью git</h2>
    
    <p>Git — это программное обеспечение, которое разработчики используют для синхронизации кода между компьютерами. Git помогает работать с сложными
        проектами, в которых участвует много разработчиков. Но может ли это быть полезно для не-разработчиков, которые хотят синхронизировать свои заметки Obsidian -
        конечно! Существует множество плагинов для этого, и на этом сайте вы найдете много полезных инструкций о том, как это сделать!</p>

    <p>Следите за обновлениями, сайт находится в разработке!</p>

</BaseLayout>
