---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>

    <main>
        <section class="privacy-content">
            <div class="container">
                <div class="content-wrapper">
        <slot/>
                </div>
            </div>
        </section>
    </main>


</Layout>

<style>
    .privacy-content {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .content-wrapper ol {
        padding-left: 1.75rem;
        margin-left: 0;
        margin-bottom: 1.5rem;
    }
</style>
